:root>* {

  --md-footer-bg-color: #FFFCFA;  /*this changes the colour of the navigation footer, where the navigation arrows sit*/
  --md-footer-fg-color: #E17858; /*this changes the colour of the text in bottom footer, e.g navigation arrows and text*/
  --md-footer-bg-color--dark: #FFFCFA; /*this changes the colour of the bottom footer, where the copyright and icons sit*/
  --md-footer-fg-color--lighter:  #244C43; /*this changes the colour of the text in the most bottom footer, - specifically "Made with" - where the copyright and icons sit*/
  --md-footer-fg-color--light:  #244C43; /*this changes the colour of the text  in the most bottom footer,  the copyright */
  --mdc-typography-headline1-font-family: 'Rozha One', serif;
  --mdc-typography-font-family: 'Be Vietnam', sans-serif;
  --md-typeset-a-color: #E17858; /*this changes the colour of the bottom footer, where the copyright and icons sit*/
}

.md-typeset h1 {
  color: #244C43;
  font-family: "<Merriweather>";
  /*margin-bottom: 10px;  Adjust the value as needed */
}

.md-typeset h2 {
  color: #244C43;
  font-family: "<Merriweather>";
}

.md-typeset h3 {
  color: #244C43;
  font-family: "<Merriweather>";
}

.md-header__title {
  color: #FFFCFA;
  font-family: "<Merriweather>";
}

.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  background: var(#FFFCFA);
  box-shadow: 0 0 0.4rem 0.4rem var(#ae5316);
  margin-top: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
    background-color: #FFFCFA;
}

[data-md-color-scheme="mypalette"] {
  --md-primary-fg-color:        #244C43;
  --md-primary-fg-color--light: #244C43;
  --md-primary-fg-color--dark:  #244C43;
  --md-accent-bg-color:                   #E17858;
  --md-accent-bg-color--light:            #E17858;
  --md-accent-bg-color:                   #E17858;
  --md-accent-fg-color:                   #699ADA;
  --md-accent-fg-color--light:            #699ADA;
  --md-accent-fg-color--transparent:      #699ADA;
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: #FFFCFA;
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

